/*gloable*/
*{
  margin : 0px;
  padding : 0px;
  color : white;
}
a{
  color : white;
}
a:hover{
  color : #7CA3CC;
}
body{
  font-family :'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'STHeiti Light [STXihei]', 'Microsoft Yahei', sans-serif;  
}
h2{
  text-align : center;
  color : white;
}

.inline{
  float : left;
  list-style : none;
}

.inline>li{
  display : inline-block;

}

/*header*/
header{
  width : 100%;
  background : #2D3E50;
  height : 64px;
}

.logo-wrap{
  margin-top : 12px;
  margin-left : 50px;
}

.logo-wrap{
  margin-right : 50px;
}
.ul-nav{
  float : left;
  list-style : none;

}
.menu-wrap{
  height : 64px;
}
.ul-nav li{
  width : 150px;
  text-align : center;
  line-height : 60px;
  display : inline-block;
  color : white;
}
.ul-nav li a{
  font-size : 18px;
  text-decoration : none;
}

.ul-nav li.first{
  border-bottom : 2px solid #7CA3CC;
}

.ul-nav li.first a{
  color : #7CA3CC;
}

.ul-nav li a.chcolor{
  color : #7CA3CC;
}
.ul-nav li.hover{
  border-bottom : 2px solid #7CA3CC;
  background : url(img/bg.png);
}
/*nav*/
nav{
  width : 100%;
}
nav .bg{
  width : 100%;
}
nav .title{
  position : absolute;
  left : 42%;
  top : 43%;
  z-index : .4;
}
/*content*/
.content-wrap{
  width : 1200px;
  margin : 130px auto 0 auto;
}

.content-wrap .inline li{
  width : 230px;
  text-align : center;
}

.content-wrap .inline img{
  cursor : pointer;
}
.content-wrap .inline p{
  color : black;
  margin-top : 18px;
  font-size : 16px;
}
.row-12{
  margin : 40px 0;
  width : 1200px;
  float : left;
}
.row-12 p{
  color : black;
  text-align : center;
}

.row-13{
  text-align : center;
  margin : 40px auto 120px;
  width : 1200px;
}
.row-13 .btn{
  width : 120px;
  height : 40px;
  border-radius : 10px;
  background : #49CBCD;
}
.row-13 .btn a{
  font-size : 18px;
  color : white;
  text-decoration : none;
}


/*footer*/
footer{
  color : #bdc3c7;
  width : 100%;
  background : #2D3E50;
}

footer .adress{
  width : 1200px;
  margin : 0 auto;
  border-bottom : 1px solid #60686d;
  height : 150px;
}
footer .adress .adress-content{
  width : 300px;
  height : 120px;
  float : left;
  margin-top : 20px;
}

footer .adress p{
  line-height : 40px;
  color : #bdc3c7;
}

.footer{
  width : 1200px;
  height : 30px;
  margin : 10px auto 0;
}

.footer p{
  color : #bdc3c7;
}
