@import 'public_var';
$contentImgHeight : 158px;

.img-list-content-wrap{
  @include contentDiv();
}
.img-list-content-wrap{
  padding : 3%;
  width : 94%;
}
.img-list-header{
  width : 100%;
  height : 30px;
}
.img-list-header h2{
  font-size : $contentSize;
  color : black;
}
.img-list-detail{
}
.big-img-list{
  width : 100%;
}
.big-img-wrap{
  display : inline-block;
  margin : 14px 10px 0 0 ;
  width : $contentImgHeight;
  height : $contentImgHeight;
  @include bgCss();
  background-size : cover;
}
