doctype html
html
   head
      title='首页'
      //link(href='../css/index.css' rel='stylesheet')
      //link(href='../css/index-header.css' rel='stylesheet')
      //link(href='../css/login-layer.css' rel='stylesheet')
      //link(href='../css/user-detail.css' rel='stylesheet')
      //link(href='../css/upload_img.css' rel='stylesheet')
      link(href='../css/init_index.css' rel='stylesheet')
      include ../public/public_js.html
   body
      section(id='app')

      //script(src="../js/init_login.js")
      //script(type="text/babel" src="../js/index_header_module.js")
      //script(type="text/babel" src="../js/left_content_module.js")
      //script(type="text/babel" src="../js/right_content_module.js")
      //script(type="text/babel" src="../js/middle_content_module.js")
      //script(type="text/babel" src="../js/login_layer_module.js")
      //script(type="text/babel" src="../js/register_layer_com.js")
      //script(type="text/babel" src="../js/one_blog_com.js")
      //script(type="text/babel" src="../js/init_index.js")
      script(src="../../dist/index.js")
