doctype html
html
    head
        title='用户主页'
        link(href='../css/public.css' rel='stylesheet')
        link(href='../css/index-header.css' rel='stylesheet')
        link(href='../css/login-layer.css' rel='stylesheet')
        link(href='../css/user_page.css' rel='stylesheet')

        include ../public/public_js.html
    body
        section(id='all-wrap')
        //script(src="../js/init_login.js")
        script(type="text/babel" src="../js/index_header_module.js")
        script(type="text/babel" src="../js/middle_content_module.js")
        //script(type="text/babel" src="../js/login_layer_module.js")
        script(type="text/babel" src="../js/user_left_content.js")
        script(type="text/babel" src="../js/user_right_content.js")
        script(type="text/babel" src="../js/user_page_nav.js")
        script(type="text/babel" src="../js/user_page_portriat.js")
        script(type="text/babel" src="../js/one_blog_com.js")
        script(type="text/babel" src="../js/user_img_content.js")
        script(type="text/babel" src="../js/user_info.js")
        script(type="text/babel" src="../js/init_user_page.js")
